<form action="/post-email" method="post">
    Email: <input type="text" name="emailgui" class="form-control">
    Receive email: <input type="text" name="emailnhan" class="form-control">
    Title:  <input type="text" name="chude" class="form-control">
    Noi dung: <textarea class="form-control" name="noidung" id="" cols="30" rows="10"></textarea>
    <button class="btn btn-primary" type="submit">Gui email</button>
</form>